<p><img src="img/alex.jpg" alt="Labs Bell Blog" title="Follow on Twitter at @Bellspringsteen"  class="img-rounded floatLeft" />			
</p>					
<p><a href="https://twitter.com/bellspringsteen" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @bellspringsteen</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://www.linkedin.com/pub/alex-bell/42/907/461/" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/bellspringsteen" rel="me" class="social twitter" title="Go to twitter.com/bellspringsteen" target="_blank"></a></li>
	</ul>
</p>
