<p><img src="img/alex.gif" alt="Labs Bell Blog" title="Follow on Twitter at @Bellspringsteen"  class="img-rounded" />			
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://www.linkedin.com/pub/alex-bell/42/907/461/" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/bellspringsteen" rel="me" class="social twitter" title="Go to twitter.com/bellspringsteen" target="_blank"></a></li>
	  <li><a href="https://www.youtube.com/channel/UCH0dL7qvI3B4_LEX1J0ZVvg" rel="me" class="social youtube" title="Go to Youtube" target="_blank"></a></li>
	  <li><a href="https://www.instagram.com/bellcycles/" rel="me" class="social instagram" title="Go to Instagram" target="_blank"></a></li>
	  <li><a href="https://github.com/bellspringsteen" rel="me" class="social github" title="Go to Github" target="_blank"></a></li>
	</ul>
</p>
