<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="http://blog.labsbell.com/">Labs Bell Blog</a>
      <div class="nav-collapse">
      </div>
      <div id='cssmenu'>
        <ul>
          <li class='has-sub last'><i class="icon-list"></i><a href=''><span>Projects</span></a>
            <ul>
              <li><a target="_blank" href='http://www.signal360.com'><span>CEO & Founder @Signal360</span></a></li>
              <li class='has-sub'><a href=''><span>Hybrid Motorcycle</span></a>
                <ul>
                  <li><a href='/blog/HybridDescription'><span>Description</span></a></li>
                  <li><a href='/tags/hybrid/'><span>Blog Posts</span></a></li>
                  <li class='last'><a target="_blank" href='https://github.com/Bellspringsteen/Hybrid'><span>Source</span></a></li>
                </ul>
              </li>
              <li><a target="_blank" href='https://github.com/Bellspringsteen/RoombaCatStalker'><span>Roomba Cat Stalker</span></a></li>
              <li class="has-sub"><a href=''><span>Old Projects</span></a>
                <ul>
                  <li><a target="_blank" href='http://www.wired.com/2010/12/crowd-sourcing-iphone-app-live-tracks-nyc-subway-trains/'><span>Subway Arrival</span></a></li>
                  <li class='last'><a target="_blank" href='/blog/ScaleApp/'><span>Scale App</span></a><li>
                  </ul>
                </li>
                <li><a target="_blank" href='http://www.wired.com/2009/03/two-college-stu/' ><span>Undergrad Hydrogen Fuel Cell Motorcycle</span></a></li>

              </ul>
            </li>
          </ul>

        </div><!--/cssmenu -->
      </div>

    </div>
  </div>
