<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://Bellspringsteen.github.com">Labs Bell Blog</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://Bellspringsteen.github.com"><i class="icon-home"></i> Home</a>
		  </li>
   		  <li class="">
   			<a href="http://www.labsbell.com"><i class="icon-list"></i> Main</a>
   		  </li>
				
		</ul>		
	  </div>
	</div>
  </div>
</div>
